{% set current_page = 'billing' %}
{% extends 'StarterBaseBundle:Default:index.html.twig' %}

{% block mainbar %}
  <div class="page-head">
    <div class="bread-crumb">
      <a href="{{ path('admin_dashboard') }}"><i class="icon-home"></i> Home</a>
      <span class="divider">/</span>
      <a href="{{ path('admin_billing') }}">Billing</a>
      <span class="divider">/</span>
      <a href="{{ path('admin_billing_invoice') }}">Invoices</a>
      <span class="divider">/</span>
      <span class="bread-current">New invoice</span>
    </div>
    <h2 class="pull-left">New invoice</h2>
    <div class="clearfix"></div>
  </div>
  <div class="container-fluid">
    <form action="{{ path('admin_billing_invoice_create') }}" method="post" {{ form_enctype(form) }}>
      {{ form_widget(form) }}
      <p>
        <button type="submit" class="btn btn-primary">Create</button>
        <a href="{{ path('admin_billing_invoice') }}" class="btn">Back</a>
      </p>
    </form>
  </div>
{% endblock %}
