{% set current_page = 'user' %}
{% extends 'StarterBaseBundle:Default:index.html.twig' %}

{% block mainbar %}
<div class="page-head">
  <div class="bread-crumb">
    <a href="{{ path('starter_dashboard') }}"><i class="icon-home"></i> Home</a> 
    <span class="divider">/</span> 
    <span class="bread-current">Users</span>
  </div>
  <h2 class="pull-left">Users</h2>
  <div class="pull-right">
    <a href="{{ path('starter_user_new') }}" class="btn btn-primary">Create a new user</a>
  </div>
  <div class="clearfix"></div>
</div>
<div class="container-fluid">
  {% if entities %}
    <table class="table table-striped">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Username</th>
        <th>Is active?</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
      <tr>
        <td><a href="{{ path('starter_user_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
        <td>{{ entity.name }}</td>
        <td>{{ entity.username }}</td>
        <td>{% if entity.isActive %}<span class="label label-success">active</span>{% else %}<span class="label label-danger">inactive</span>{% endif %}</td>
        <td>
          <a href="{{ path('starter_user_edit', { 'id': entity.id }) }}" class="btn btn-mini btn-warning">edit</a>
          <a href="{{ path('starter_user_show', { 'id': entity.id }) }}" class="btn btn-mini">show</a>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  {% else %}
  <h3>No user created yet</h3>
  {% endif %}
</div>
{% endblock %}
