{% set current_page = 'billing' %}
{% extends 'StarterBaseBundle:Default:index.html.twig' %}

{% block mainbar %}
<div class="page-head">
  <div class="bread-crumb">
    <a href="{{ path('starter_dashboard') }}"><i class="icon-home"></i> Home</a>
    <span class="divider">/</span>
    <span class="bread-current">Billing</span>
  </div>
  <h2 class="pull-left">Billing</h2>
  <div class="pull-right">
    <a href="{{ path('starter_billing_new') }}" class="btn btn-primary">Create a new billing</a>
  </div>
  <div class="clearfix"></div>
</div>
<div class="container-fluid">
  {% if entities %}
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Id</th>
          <th>Account</th>
          <th>Plan</th>
          <th>Period</th>
          <th>Created at</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
      {% for entity in entities %}
        <tr>
          <td><a href="{{ path('starter_billing_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
          <td>{{ entity.account.owner.name }}</td>
          <td>{{ entity.plan.name }}</td>
          <td>{{ entity.period.name }}</td>
          <td>{% if entity.createdAt %}{{ entity.createdAt|date('Y-m-d') }}{% endif %}</td>
          <td>{% if entity.status %}{{ entity.status.name }}{% endif %}</td>
          <td>
            <a href="{{ path('starter_billing_show', { 'id': entity.id }) }}" class="btn btn-mini btn-warning">show</a>
            <a href="{{ path('starter_billing_edit', { 'id': entity.id }) }}" class="btn btn-mini">edit</a>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    {% else %}
    <div style="text-align:center">
      <h3>No billing yet created.</h3>
    </div>
    {% endif %}
 </div>
{% endblock %}
