{% set current_page = 'billing' %}
{% extends 'StarterBaseBundle:Default:index.html.twig' %}

{% block mainbar %}
  <div class="page-head">
    <div class="bread-crumb">
      <a href="{{ path('starter_dashboard') }}"><i class="icon-home"></i> Home</a>
      <span class="divider">/</span>
      <a href="{{ path('starter_billing') }}">Billing</a>
      <span class="divider">/</span>
      <a href="{{ path('starter_billing_invoice') }}">Invoices</a>
      <span class="divider">/</span>
      <a href="{{ path('starter_billing_invoice_status') }}">Invoice status</a>
      <span class="divider">/</span>
      <span class="bread-current">Edit Invoice status</span>
    </div>
    <h2 class="pull-left">Edit invoice status</h2>
    <div class="clearfix"></div>
  </div>
  <div class="container-fluid">
    <form action="{{ path('starter_billing_invoice_status_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
      <input type="hidden" name="_method" value="PUT" />
      {{ form_widget(edit_form) }}
        <div class="form-buttons">
          <button type="submit" class="btn btn-primary">Save</button>
          <a href="#modal-delete" role="button" class="btn btn-danger" data-toggle="modal">Delete</a>
          <a href="{{ path('starter_billing_invoice_status') }}" class="btn">Back</a>
        </div>
    </form>
{% set modal_title  = 'Delete invoice status' %}
{% set modal_action = path('starter_billing_invoice_status_delete', {'id' : entity.id}) %}
{% set modal_text   = 'Do you really want to delete the invoice status?' %}
{% set entity_id    = entity.id %}
        {% include('StarterBaseBundle:Default:modal_delete.html.twig') %}
</div>

{% endblock %}
